<!-- Vista de los detales de la cita de orientación psicologica -->
{% extends 'applayout.html' %}
{% block title %}Solicitudes{% endblock %}
{% block main %}
    <div class="flex justify-center items-start p-6">
        <div class="block p-6 mx-6 bg-white border border-gray-200 rounded-lg shadow">
            <h5 class="mb-2 text-2xl uppercase">Solicitud de orientación psicologica</h5>
            <!-- .upper, .title, .lower son caracteristicas de Flask que formatean el texto -->
            <!-- .upper: todo mayusculas, .lower: todo minusculas, etc. -->
            <p>Fecha: <span class="capitalize text-gray-700">{{ cita.fecha.title() }}</span></p>
            <p>Hora: <span class="capitalize text-gray-700">{{ cita.hora.upper() }}</span></p>
            <h6 class="text-xl">Información del solicitate</h6>
            <ul class="max-w-md space-y-1 list-disc list-inside capitalize">
                <li>Nombre completo: <span class="text-gray-700">{{ cita.apellidos.title() }} {{ cita.nombres.title() }}</span></li>
                <li>Publico: <span class="text-gray-700">{{ cita.publico.title()}}</span></li>
                <li>Programa: <span class="text-gray-700">{{ cita.programa.title() }}</span></li>
                <li>Semestre: <span class="text-gray-700">{{ cita.semestre }}</span></li>
            </ul>
            <h6 class="text-xl">Contacto</h6>
            <ul class="max-w-md space-y-1 list-disc list-inside">
                <li>Correo Electrónico: <span class="text-gray-700">{{ cita.email.lower()}}</span></li>
                <li>Telefono: <span class="text-gray-700">{{ cita.cellphone }}</span></li>
            </ul>
            <p>Motivo de consulta:</p>
            <p class="text-gray-700">{{ cita.asunto.capitalize() }}</p>
            <div class="flex justify-start items-center">
                <a class="flex justify-center my-2 text-sm p-2 bg-verde-uajs border border-verde-paris rounded-md text-white uppercase tracking-widest hover:bg-verde-paris focus:bg-verde-paris active:bg-verde-uajs focus:outline-none focus:ring-2 focus:ring-verde-paris focus:ring-offset-2 transition ease-in-out duration-150 mr-2" href="https://mail.google.com/mail/?view=cm&fs=1&to={{cita.email}}&su={{asunto}}" target="_blank">
                    Responder al correo
                </a>
                <a class="font-medium text-verde-uajs uppercase underline hover:no-underline ml-2" href="{{ url_for('Solicitudes') }}">
                    Regresar
                </a>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock %}