<!-- Vista de recuperación de contraseña -->
{% extends 'guest.html' %}
{% block title %}Recuperar Contraseña{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class=flashes>
                {% for category, message in messages %}
                    {% if category == 'success' %}
                        <div class="flex items-center p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-100" role="alert">
                            <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                            </svg>
                            <li class="font-medium">{{ message }}</li>
                        </div>
                    {% else %}
                        <div class="flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-100" role="alert">
                            <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                            </svg>
                            <li class="font-medium">{{ message }}</li>
                        </div>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <hr class="my-2">
    <p class="text-sm text-left">Por favor, ingresa tu correo institucional, te enviaremos un link para reestablacer tu contraseña</p>
    <form action="ForbiddenPassword" method="post">
        {{ form.hidden_tag() }}
        {% if mensaje %}
            <div class="flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
              <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
              </svg>
              <span class="sr-only">Info</span>
                <div>
                    <span class="font-medium">{{mensaje}}</span>
                </div>
            </div>
        {% endif %}
        <div class="mt-2">
            {{ form.email.label(class_='block font-medium text-left text-sm') }}
            {{ form.email(class_='mt-1 appearance-none rounded-lg relative block w-full px-3 py-2 bg-gray-100 border border-verde-paris focus:outline-none focus:ring-1 focus:ring-verde-uajs focus:border-verde-uajs focus:bg-gray-50 focus:z-10 shadow-sm') }}
        </div>
        <div class="mt-4">
            {{ form.submit(class_='flex justify-center w-full mb-1 px-4 py-2 bg-verde-uajs border border-verde-paris rounded-md text-white uppercase tracking-widest hover:bg-verde-paris focus:bg-verde-paris active:bg-verde-uajs focus:outline-none focus:ring-2 focus:ring-verde-paris focus:ring-offset-2 transition ease-in-out duration-150') }}
        </div>
    </form>
    <div class="text-left">
        <span class="text-sm">¿Ya estás registrado?
            <a href="{{ url_for('login') }}" class="text-verde-uajs">
                Inicia sesión
            </a>
        </span>
    </div>
{% endblock %}