<!-- Vista de recuperación de contraseña -->
{% extends 'guest.html' %}
{% block title %}Recuperar Contraseña{% endblock %}
{% block content %}
    {% if estado == True %}
        <hr class="my-2">
        <p class="text-sm text-left">Recibimos una solicitud para cambiar tu contraseña</p>
        <form action="ResetPassword" method="post">
            <!-- Mensajes de error -->
            {% if mensaje %}
                <div class="flex items-center p-4 mb-2 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
                  <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                  </svg>
                  <span class="sr-only">Info</span>
                    <div>
                        <span class="font-medium">{{mensaje}}</span>
                    </div>
                </div>
            {% endif %}
            {{ form.hidden_tag() }}
            <div class="mt-2">
                {{ form.password.label(class_='block font-medium text-left text-sm') }}
                {{ form.password(class_='appearance-none rounded-lg relative block w-full px-3 py-2 bg-gray-100 border border-verde-paris focus:outline-none focus:ring-1 focus:ring-verde-uajs focus:border-verde-uajs focus:bg-gray-50 focus:z-10 shadow-sm') }}
                {% for error in form.password.errors %}
                    <div>
                        <span class="block font-medium text-xs text-left text-red-800">{{ error }}</span>
                    </div>
                {% endfor %}
            </div>
            <div class="mt-2">
                {{ form.confirm_password.label(class_='block font-medium text-left text-sm') }}
                {{ form.confirm_password(class_='appearance-none rounded-lg relative block w-full px-3 py-2 bg-gray-100 border border-verde-paris focus:outline-none focus:ring-1 focus:ring-verde-uajs focus:border-verde-uajs focus:bg-gray-50 focus:z-10 shadow-sm') }}
                {% for error in form.confirm_password.errors %}
                    <div>
                        <span class="block font-medium text-xs text-left text-red-800">{{ error }}</span>
                    </div>
                {% endfor %}
            </div>
            <div class="mt-4">
                {{ form.submit(class_='flex justify-center w-full mb-2 px-4 py-2 bg-verde-uajs border border-verde-paris rounded-md text-white uppercase tracking-widest hover:bg-verde-paris focus:bg-verde-paris active:bg-verde-uajs focus:outline-none focus:ring-2 focus:ring-verde-paris focus:ring-offset-2 transition ease-in-out duration-150') }}
            </div>
        </form>
    {% else %}
        <hr class="my-2">
        <p class="text-sm text-center">Esta solicitud ha caducado o ha sido alterada</p>
        <div class="mt-4">
            <a href="{{ url_for('ForbiddenPassword') }}" class="flex justify-center w-full mb-5 px-4 py-2 bg-verde-uajs border border-verde-paris rounded-md text-white uppercase tracking-widest hover:bg-verde-paris focus:bg-verde-paris active:bg-verde-uajs focus:outline-none focus:ring-2 focus:ring-verde-paris focus:ring-offset-2 transition ease-in-out duration-150">
                Volver a Recuperar de contraseña
            </a>
        </div>
    {% endif %}
{% endblock %}