<!-- Vista de recuperación de contraseña -->
{% extends 'guest.html' %}
{% block title %}Recuperar Contraseña{% endblock %}
{% block content %}
    {% if estado == True %}
        <hr class="my-2">
        <p class="text-sm 2xl:text-lg text-left">Recibimos una solicitud para cambiar tu contraseña.</p>
        <form action="{{ url_for('password.ResetPassword', token=token) }}" method="post">
            <!-- Mensajes de error -->
            {% if mensaje %}
                <div class="flex items-center p-2 mb-4 text-sm 2xl:text-base border border-rojo-blood dark:border-red-50 text-red-50 rounded-lg bg-rojo-u" role="alert">
                    <svg class="flex-shrink-0 inline w-5 h-5 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                        <path fill-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm11-4a1 1 0 1 0-2 0v5a1 1 0 1 0 2 0V8Zm-1 7a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2H12Z" clip-rule="evenodd"/>
                    </svg>
                    <span class="font-medium">{{ mensaje }}</span>
                </div>
            {% endif %}
            {{ form.hidden_tag() }}
            <div class="mt-2">
                {{ form.password.label(class_='block font-medium text-left text-sm 2xl:text-lg') }}
                {{ form.password(class_='2xl:text-xl appearance-none rounded-lg relative block w-full px-3 py-2 bg-gray-100 border border-verde-paris focus:outline-none focus:ring-1 focus:ring-verde-uajs focus:border-verde-uajs focus:bg-gray-50 focus:z-10 shadow-sm dark:bg-gray-500 dark:focus:bg-gris-marengo') }}
                {% for error in form.password.errors %}
                    <div>
                        <span class="block font-medium text-xs 2xl:text-sm text-left text-rojo-jun dark:text-red-300">{{ error }}</span>
                    </div>
                {% endfor %}
            </div>
            <div class="mt-2">
                {{ form.confirm_password.label(class_='block font-medium text-left text-sm 2xl:text-lg') }}
                {{ form.confirm_password(class_='2xl:text-xl appearance-none rounded-lg relative block w-full px-3 py-2 bg-gray-100 border border-verde-paris focus:outline-none focus:ring-1 focus:ring-verde-uajs focus:border-verde-uajs focus:bg-gray-50 focus:z-10 shadow-sm dark:bg-gray-500 dark:focus:bg-gris-marengo') }}
                {% for error in form.confirm_password.errors %}
                    <div>
                        <span class="block font-medium text-xs 2xl:text-sm text-left text-rojo-jun dark:text-red-300">{{ error }}</span>
                    </div>
                {% endfor %}
            </div>
            <div class="mt-4">
                {{ form.submit(class_='flex justify-center w-full 2xl:text-xl mb-2 px-4 py-2 bg-verde-uajs border border-verde-paris rounded-md text-white uppercase tracking-wider hover:bg-verde-paris hover:text-black hover:border-verde-uajs focus:bg-verde-paris focus:text-black focus:outline-none focus:ring-2 focus:ring-verde-paris focus:ring-offset-2 transition ease-in-out duration-150') }}
            </div>
        </form>
    {% else %}
        <hr class="my-2">
        <p class="text-sm 2xl:text-base 3xl:text-lg text-center">Esta solicitud ha caducado o ha sido alterada</p>
        <div class="mt-4">
            <a href="{{ url_for('forbidden.ForbiddenPassword') }}" class="flex justify-center w-full 2xl:text-xl mb-5 px-4 py-2 bg-verde-uajs border border-verde-paris rounded-md text-white uppercase tracking-wider hover:bg-verde-paris hover:text-black hover:border-verde-uajs focus:bg-verde-paris focus:text-black focus:outline-none focus:ring-2 focus:ring-verde-paris focus:ring-offset-2 transition ease-in-out duration-150">
                Volver a Recuperar de contraseña
            </a>
        </div>
    {% endif %}
{% endblock %}