<!-- Vista donde el administrador ve todas las solicitudes de citas de orientación psicologica -->
{% extends 'applayout.html' %}
{% block title %}Solicitudes{% endblock %}
{% block main %}
    <div class="flex justify-center items-start p-6">
        <div class="block w-full py-3 bg-white border border-gris-perla rounded-lg shadow dark:bg-gray-700 dark:border-gris-marengo">
            <div class="grid grid-cols-3 md:grid-cols-5 gap-2 px-2 mb-2 text-sm md:text-lg">
                <div class="col-span-2 block md:hidden">
                    <h5 class="text-left">Detalles de solicitud</h5>
                </div>
                <h5 class="col-span-1 text-left hidden md:block">Solicitante</h5>
                <h5 class="col-span-3 text-left hidden md:block">Motivo de consulta</h5>
                <h5 class="col-span-1 text-right">Fecha de cita</h5>
            </div>
            <hr>
            <!-- Bucle para mostrar las citas no leídas -->
            {% for cita in citas_no_leidas %}
                <a href="{{ url_for('detalleCita.detalle_cita_view', id=cita.id) }}" class="grid grid-cols-3 md:grid-cols-5 gap-2 font-semibold block w-full p-2 bg-white text-gray-800 border-b border-gris-perla hover:-translate-y-1 ease-in-out delay-150 duration-300 hover:bg-gris-perla dark:bg-gray-700 dark:text-white dark:hover:bg-gris-antracita dark:border-gris-marengo">
                    <div class="col-span-2 block md:hidden">
                        <p class="text-xs md:text-sm text-left truncate">{{ cita.nombres.title() }} {{ cita.apellidos.title() }}</p>
                        <p class="text-xs md:text-sm text-left italic truncate">{{ cita.asunto.capitalize() }}</p>
                    </div>
                    <p class="col-span-1 text-xs md:text-sm text-left truncate hidden md:block">{{ cita.nombres.title() }} {{ cita.apellidos.title() }}</p>
                    <p class="col-span-3 text-xs md:text-sm text-left italic truncate hidden md:block">{{ cita.asunto.capitalize() }}</p>
                    <div class="col-span-1 flex justify-end text-sm text-right">
                        <p class="text-xs md:text-sm mx-1">{{ cita.fecha.title() }} {{ cita.hora.upper() }}</p>
                        <svg class="w-5 h-5 text-verde-uajs dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                            <path fill-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm11-4a1 1 0 1 0-2 0v5a1 1 0 1 0 2 0V8Zm-1 7a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2H12Z" clip-rule="evenodd"/>
                        </svg>
                    </div>
                </a>
            {% endfor %}
            <!-- Bucle para mostrar las citas leídas en orden inverso -->
            {% for cita in citas_leidas|reverse %}
                <a href="{{ url_for('detalleCita.detalle_cita_view', id=cita.id) }}" class="grid grid-cols-3 md:grid-cols-5 gap-2 block w-full p-2 bg-gray-100 text-gray-600 border-b border-gris-perla transition-colors duration-500 hover:bg-plata dark:bg-gris-marengo dark:text-plata dark:hover:bg-gris-perla dark:border-gris-antracita">
                    <div class="col-span-2 block md:hidden">
                        <p class="text-xs md:text-sm text-left truncate">{{ cita.nombres.title() }} {{ cita.apellidos.title() }}</p>
                        <p class="text-xs md:text-sm text-left italic truncate">{{ cita.asunto.capitalize() }}</p>
                    </div>
                    <p class="col-span-1 text-xs md:text-sm text-left truncate hidden md:block">{{ cita.nombres.title() }} {{ cita.apellidos.title() }}</p>
                    <p class="col-span-3 text-xs md:text-sm text-left italic truncate hidden md:block">{{ cita.asunto.capitalize() }}</p>
                    <p class="col-span-1 md:col-span-1 text-xs md:text-sm text-right">{{ cita.fecha.title() }} {{ cita.hora.upper() }}</p>
                </a>
            {% endfor %}
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock %}